body {
    font: 18px Helvetica;
}

h1 {
}

.titulo {
    font-size: 36px;
    font-weight: bold;
}

#div_busca {
	margin-right: 255px;
    padding: 4px;
	border: 1px solid #000000;
}

#div_busca input[type = text] {
    font: 18px Helvetica;
	width: 89%;
}

#div_busca input[type = submit] {
    font: 16px Helvetica;
	vertical-align:middle;
	float:right;
    width: 10%;
}

#map_canvas {
	border: 1px solid #000000;
	border-top:0px;
    margin-right: 255px;
    height: 600px;
}

#div_lista {
    height: 600px;
    float: right;
    width: 250px;
	font-size:12px;
}
